@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
  }
}

::selection {
  background-color: rgba(34, 211, 238, 0.2);
  /* accent-cyan / 20 */
  color: #fff;
}

@layer base {
  body {
    @apply bg-background text-slate-100 antialiased;
  }
}